.select-search {
  border-color: #000e77;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
}

.select-search__option.is-selected {
  background: #000e77;
  color: #fff;
}
.select-search:not(.select-search--multiple) .select-search__input:hover {
  border-color: #00abff;
}

.select-search__option.is-highlighted.is-selected,
.select-search__option.is-selected:hover {
  background: #000e77;
  color: #fff;
}

.select-search__option.is-highlighted,
.select-search__option:not(.is-selected):hover {
  background: rgba(0, 171, 255, 0.1);
}
